.calendar {
    margin: 0 auto;
    display: block;
}

.calendar ul {
    list-style: none;
}

.calendar ul > li {
    display: block;
    flex-grow: 1;
    width: calc(100% * (1/7));
    float: left;
}

.calendar-title {
    background: crimson;
    color: white;
    display: block;
}

.calendar-title h1 {
    margin: 0;
}