.calendar {
    margin: 0 auto;
    max-width: 1000px;
    display: block;
}

.calendar ul {
    list-style: none;
}

.calendar ul > li {
    display: block;
    flex-grow: 1;
    width: calc(100% * (1/7));
    float: left;
}